<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img src="./static/image1.png" class="card-img-top" alt="..." style="width:500px;height:600px;">
                    <div class="card-body">
                      <h5 class="card-title">Video Cam 1</h5>
                      <p class="card-text">View the live stream for your camera 1.</p>
                      <a href="/video" class="btn btn-primary">View Camera</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img src="./static/image2.png" class="card-img-top" alt="..." style="width:500px;height:600px;">
                    <div class="card-body">
                      <h5 class="card-title">Video Cam 2</h5>
                      <p class="card-text">View the live stream for your camera 2.</p>
                      <a href="/video" class="btn btn-primary">View Camera</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img src="./static/image3.png" class="card-img-top" alt="..." style="width:400px;height:600px;">
                    <div class="card-body">
                      <h5 class="card-title">Video Cam 3</h5>
                      <p class="card-text">View the live stream for your camera 3.</p>
                      <a href="/video" class="btn btn-primary">View Camera</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
